{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block main %}
    <div class="card">
      <div class="card-header">
        X Profile
      </div>
      <div class="card-body">
        <div class="container bootstrap snippet">
            <div class="row">
            <div class="col-sm-4">
                <div class="text-center" >

                    <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
                    <h6>Upload your picture......</h6>
                    <input type="file" class="text-center center-block file-upload">

                </div>
            </div>

            <div class="col-sm-8">
                <form class="form" method="POST">
                    {%csrf_token%}
                    <div class="form-group">
                        {{form|crispy}}

                    </div>
                    <button class="btn btn-outline-info" type="submit">Update</button>
                </form>
            </div>
        </div>
        </div>
      </div>
    </div>
{% endblock %}
