{% extends "base.html" %}
{% load crispy_forms_tags%}

{% block main %}
    <form action="" method="POST">
        {% csrf_token %}
        <!-- Modal -->
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                </div>
                <div class="modal-body">
                    {{form|crispy}}
                        <button class="btn btn-primary mr-4" type="submit">Login</button>
                        Don't have an account?  <small><a href="{% url "user-register" %}">Register Here</a></small>

                    </div>
                    
                </div>
                </div>
{% endblock %}