<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Covid-19 Tracker!</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
      <h1 class="display-4 ">Corona Virus Tracker Application</h1>
      <p class="lead">This application tracks total number of Covid posetive cases,and country and state wise posetive cases.</p>
      <hr class="my-4">

      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <h5 class="card-header">Word-Wide Tracker</h5>
                <div class="card-body">
                  <ul class="list-group">
                    <li class="list-group-item active">Total confirmed cases till now:  {{ today_total_cases}}</li>
                    <li class="list-group-item">Today confirmed: {{ posetive_added_today }}</li>
                    <li class="list-group-item">Yesterday confirmed: {{ posetive_added_yesterday }} </li>
                  </ul>
                </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <h5 class="card-header">Nepal-Tracker</h5>
                  <div class="card-body">
                    <ul class="list-group">
                      <li class="list-group-item active">Total confirmed cases till now:  {{ nepal.nepal_today_total_cases}}</li>
                      <li class="list-group-item">Today confirmed: {{ nepal.nepal_today_added_cases }}</li>
                      <li class="list-group-item">Yesterday confirmed: {{ nepal.nepal_yesterday_added_cases }} </li>
                    </ul>
                </div>
          </div>
        </div>
      </div>
    </div>



      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Country</th>
            <th scope="col">Province/State</th>
            <th scope="col">Posetive cases</th>
          </tr>
        </thead>
        <tbody>
          {% for row in covid_info %}
            <tr>
              <td scope="row">{{row.country}}</th>
              <td scope="row">{{row.province}}</td>
              <td scope="row">{{row.posetive_cases}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
